/*
*{
    box-sizing: border-box;
}

h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

body {
background: #e4dddd;
}
.content {
max-width: 50em;
margin: auto;
margin-top: 5em;
background: rgb(20, 20, 253);
color: white;
padding: 1em;
}

a{
    color: white;
}
*/

.card-container {
    -webkit-perspective: 500px;
            perspective: 500px;
}

.card-container:hover .card{
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}

.card {
    -webkit-transition: -webkit-transform 0.7s;
            transition: transform 0.7s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.front, .back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}


.card {
  width: 40em;
	height: 40em;
  margin: auto;
}

.front, .back {
  box-shadow: 0 1px 6px 0;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

img {
  display: block;
}