*{
    box-sizing: border-box;
}

h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

body {
background: #e4dddd;
}
.content {
max-width: 50em;
margin: auto;
margin-top: 5em;
background: rgb(20, 20, 253);
color: white;
padding: 1em;
}

a{
    color: white;
}